// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#dashboard {
  background: #f5f5f5 !important;
}
.weather{
  height: 100px;
  width: 250px;
  position: relative;
  .icon{
    font-size: 40px;
  }
  .text{
    position: absolute;
    bottom: 1px;
    left: 5px;
    font-size: 20px; 
    font-weight: 100;
  }
  .temp{
    position: absolute;
    font-size: 50px;
    top:10px;
    right: 10px;
  }
}
